# Question 1

## What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement

In [1]:
b = 0

def r():
    
    global b
    
    b = d(b)
    
def d(b):
    
    return b + 2

r()

r()

r()

b

6

In [2]:
Explanation:

r()  # For the first time a's value will be 0 so in d(b), it will return 0+2=2 then global b's value will be 2
r()  # For the second time a's value will be 2 so in d(b), it will return 2+2=4 then global b's value will be 4
r()  # For the third time a's value will be 4 so in d(b), it will return 4+2=6 then global b's value will be 6
b=6  # Here global namespace a is being referred, so value is 6.
# Thus, everytime r() is getting executed, global b is getting changed,so b's value will be 6.

SyntaxError: invalid syntax (Temp/ipykernel_27948/1346884528.py, line 1)

# Question 2

## Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [9]:

def fileLen(fileName):
    
    try:
        
        infile=open(fileName)
        
        data=infile.read()
        
        ln=len(data)
        
        infile.close()
        
        print(ln)
        
    except IOError:
        
        print('File ' + fileName + ' not found.')  
                                                   
        
fileLen('Filelength(1).txt')

fileLen('Filelengt.txt')

123
File Filelengt.txt not found.

# Question 3

## Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object, b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and c. overloads the str operator so it behaves as shown below.

In [10]:
class Marsupial:
    
    def __init__(self):
        
        self.Lst = []
        
    def put_in_pocket(self,item):
        
        self.Lst.append(item)
        
    def pocket_contents(self):
         
        return self.Lst

class Kangaroo(Marsupial):
    
    def __init__(self,x,y):
        
        Marsupial.__init__(self)
        
        self.x = x
        
        self.y = y
        
    def jump(self,dx,dy):
        
        self.x += dx
        
        self.y += dy
        
    def __str__(self):
        
        return 'I am a Kangaroo located at co-ordinates ({},{})'.format(self.x,self.y)
    
    
r = Marsupial()

r.put_in_pocket('ball')

r.put_in_pocket('gloves')

r.put_in_pocket('bat')

r.pocket_contents()

k = Kangaroo(0,0)

print(k)

k.put_in_pocket('ball')

k.put_in_pocket('gloves')

k.put_in_pocket('bat')

a=k.pocket_contents()

print(a)

k.jump(1,0)

k.jump(1,0)

k.jump(1,0)

print(k)

I am a Kangaroo located at co-ordinates (0,0)
['ball', 'gloves', 'bat']
I am a Kangaroo located at co-ordinates (3,0)

# Question 4 
## Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x

In [11]:
def collatz(x):
    
    if x == 1:
        
        return [x]
    
    elif x%2==0:
        
        return [x] + collatz(int(x/2))
    
    else:
        
        return [x] + collatz(int(x*3+1))

r=collatz(1)

a=collatz(10)

print("collatz(1)")

print(*r,sep = "\n")

print("\ncollatz(10)")

print(*a, sep = "\n")

collatz(1)
1

collatz(10)
10
5
16
8
4
2
1

# Question 5
## Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n

In [12]:
def binary(n):
    
    if n == 0:
        
        return 0
    
    else:
        
        binary(n//2)
        
    print(n % 2,end = '')

Num = int(input("Enter your Number: "))

binary(Num)

Enter your Number: 56
111000

# Question 6

In [25]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    Headers = ["h1", "h2"]
    
    current = -1

    def handle_starttag(self, tag, attrs):
        
        if tag in HeadingParser.Headers:
            
            HeadingParser.current = HeadingParser.Headers.index(tag)
    
    def handle_endtag(self, tag):
        
        if tag == HeadingParser.Headers[HeadingParser.current]:
            
            HeadingParser.current = -1
            
    def handle_data(self, data):
        
        if HeadingParser.current >= 0:
            
            print(" " * HeadingParser.current + data)

In [27]:
infile = open("w3c.html","r")

content = infile.read()

infile.close()

hp = HeadingParser()

hp.feed(content)

W3C Mission
 Principles

# Question 7

In [28]:
from urllib.request import urlopen

from urllib.parse import urljoin

from html.parser import HTMLParser

class Collector(HTMLParser):

    def __init__(self, url):
        
      
        HTMLParser.__init__(self)
        
        self.url = url
        
        self.links = []


    def handle_starttag(self, tag, attrs):
        
        if tag == 'a':
            
            for attr in attrs:
                
                if attr[0] == 'href':
                    
                    absolute = urljoin(self.url, attr[1])
                    
                    if absolute[:4] == 'http':
                        
                        self.links.append(absolute)

    def getLinks(self):
        
        return self.links


allLinks = []
    
def webdir(url,depth,indent):
    
        global allLinks
        
        print(indent*" " + url)
        
        if depth == 0:
            
            return
        
        for i in allLinks:
            
            webdir(i, depth-1, indent+1)    


url = ' http://reed.cs.depaul.edu/lperkovic/test1.html'

resource = urlopen(url)

content = resource.read().decode()

collector = Collector(url)

collector.feed(content)

allLinks = collector.getLinks()


webdir(url,2,0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test2.html

# Connecting to DB, Creating Table and Entering values into it.

In [2]:
import sqlite3

con = sqlite3.connect('ipydb.db')

rus = con.cursor()

rus.execute("CREATE TABLE Weather (City text, Country text, Season text,Temperature float,Rainfall float)")

OperationalError: table Weather already exists

In [4]:
rus.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")

In [5]:
rus.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")

rus.execute("INSERT INTO Weather VALUES ('Bangalore', 'India', 'Summer',27.9,1549.4 )")

rus.execute("INSERT INTO Weather VALUES ('Delhi', 'India', 'Fall',27.6,346.0)")

rus.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")

rus.execute("INSERT INTO Weather VALUES ('Bristol', 'United Kingdom', 'Spring',8.3,169.6)")

rus.execute("INSERT INTO Weather VALUES ('Manchaster', 'United Kingdom', 'Summer',15.7,157.0)")

rus.execute("INSERT INTO Weather VALUES ('Bath', 'United Kingdom', 'Fall',10.4,218.5)")

rus.execute("INSERT INTO Weather VALUES ('New York', 'USA', 'Winter',13.6,16.5)")

rus.execute("INSERT INTO Weather VALUES ('New Jersey', 'USA', 'Spring',20.7,6.5)")

rus.execute("INSERT INTO Weather VALUES ('Georgia', 'USA', 'Summer',27.7,0.1)")

rus.execute("INSERT INTO Weather VALUES ('Buffalo', 'USA', 'Fall',22.2,4.5)")

In [6]:
rus.execute('SELECT * FROM Weather')

rus.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Bangalore', 'India', 'Summer', 27.9, 1549.4),
 ('Delhi', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('Bristol', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('Manchaster', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('Bath', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('New York', 'USA', 'Winter', 13.6, 16.5),
 ('New Jersey', 'USA', 'Spring', 20.7, 6.5),
 ('Georgia', 'USA', 'Summer', 27.7, 0.1),
 ('Buffalo', 'USA', 'Fall', 22.2, 4.5)]

# Question 8
## Write SQL queries on the below database table that return:a) All the temperature data.

In [7]:
rus.execute('SELECT temperature FROM Weather')

R=rus.fetchall()

for item in R:
    
    print(item)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

# b) All the cities, but without repetition.

In [8]:
rus.execute('SELECT DISTINCT City FROM Weather')

B=rus.fetchall()

for item in B:
    
    print(item)

('Mumbai',)
('Bangalore',)
('Delhi',)
('London',)
('Bristol',)
('Manchaster',)
('Bath',)
('New York',)
('New Jersey',)
('Georgia',)
('Buffalo',)

# c) All the records for India.

In [4]:
rus.execute("SELECT * FROM Weather WHERE Country='India'")

C=rus.fetchall()

for item in C:
    
    print(item)

# d) All the Fall records.

In [14]:
rus.execute("SELECT * FROM Weather WHERE Season='Fall'")

D=rus.fetchall()

for item in D:
    
    print(item)

('Delhi', 'India', 'Fall', 27.6, 346.0)
('Bath', 'United Kingdom', 'Fall', 10.4, 218.5)
('Buffalo', 'USA', 'Fall', 22.2, 4.5)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [15]:
rus.execute("SELECT City,country,Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")

E=rus.fetchall()

for item in E:
    
    print(item)

('Delhi', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('Bath', 'United Kingdom', 'Fall')

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [16]:
rus.execute("SELECT City,country FROM Weather WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")

F=rus.fetchall()

for item in F:
    
    print(item)

('Buffalo', 'USA')
('Delhi', 'India')

# g) The total annual rainfall for Cairo

In [17]:
rus.execute("SELECT SUM(Rainfall) FROM cityWeather WHERE City='Cairo'")

G=rus.fetchall()

for item in G:
    
    print(item)

(None,)

# h) The total rainfall for each season.

In [24]:
rus.execute("SELECT SUM(Rainfall) FROM Weather GROUP BY Season")

H=rus.fetchall()

for item in H:
    
    print(item)

(569.0,)
(192.29999999999998,)
(1706.5,)
(230.1,)

# Question 9 
## Suppose list words is defined as follows: words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] Write list comprehension expressions that use list words and generate the following lists:

In [18]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

### A

In [19]:
A = [elements.upper() for elements in words]

print (A)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### B

In [20]:
B = [elements.lower() for elements in words]

print(B)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### C

In [21]:
C = [len(elements) for elements in words]

print(C)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### D

In [22]:
D = [[elements.upper(),elements.lower(),len(elements)] for elements in words]

print(D)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

### E

In [23]:
E = [elements for elements in words if len(elements)>=4]

print(E)

['quick', 'brown', 'jumps', 'over', 'lazy']